<article>
    <a name="{entry_id}"></a>
    <h2>{entry_title} <small class="text-muted">{entry_updated}</small></h2>
    <p class="description {tags}">
        {description}
    </p>
    {media}
	<p>
        <a href="{entry_link}" target="_blank" rel="noopener noreferrer" title="{entry_title}">{entry_title}</a>
	</p>
    <ul class="nav d-flex  justify-content-between align-items-center">
        <li class="nav-item">
            <a class="nav-link active" href="index.html#{feed_id}"><i class="bi bi-chevron-left"></i> Back</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-arrow-up"></i> Top</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#nav{entry_id}"><i class="bi bi-arrow-90deg-up"></i> Return</a>
        </li>
    </ul>
</article>
<hr/>
