<p>
    <audio controls="controls">
        <source src="{url}" type="{medium}"/>
    </audio>
    <a href="http://pihole.lan:54321/api/entries/{entry_id}/download" target="_blank" type="{medium}">Download {title}</a>
</p>
