<a name="{feed_id}" href="{feed_id}.html?rnd={updated}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
	{feed_title}
	<span>
		<span class="badge text-bg-primary rounded-pill">
			{entry_count}
		</span>
	</span>
</a>
