<iframe width="100%"
		height="800"
		src="https://www.youtube.com/embed/{yt_id}"
		frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
		allowfullscreen>
</iframe>
<a href="http://pihole.lan:54321/api/entries/{entry_id}/download" target="_blank">Download {title}</a>
