/* -----------------------
Base styles
------------------------*/

/**
 * Smooth scrolling on the whole document
 */
html {
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

p:empty,
div:empty,
span:empty,
td:empty {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
}

blockquote {
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}
code,
samp,
kbd {
    font-family: ui-monospace, Consolas, "Courier New", Courier, monospace,
        sans-serif;
    text-align: left;
    color: #555;
}

pre code {
    line-height: 1.6em;
    font-size: 14px;
}

pre {
    padding: 0.1em 0.5em 0.3em 0.7em;
    border-left: 5px solid #eee;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
}

q {
    display: block;
    background: #fff;
    padding: 0px 20px 0px 30px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
}

q::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 50px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 0px;
    top: -8px;
}

q::after {
    content: "";
}

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

a[ping]::before {
    content: "\26A0";
    padding-right: 5px;
    color: red;
}

a[href^="mailto:"]::before {
    content: "\2709";
    padding-right: 5px;
}

/* -----------------------
Layout styles
------------------------*/

.container {
    max-width: 50em;
    margin: 0 auto;
}

.content {
    padding: 1em 1.25em;
    background-color: #fff;
}

video {
    max-width: 100%;
}

img {
    text-align: center;
    margin: 0 auto 10px auto !important;
    float: none !important;
    height: auto;
    display: block;
    position: relative;
    min-height: 50px;
}

img::before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

img::after {
    content: attr(alt);
    display: block;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

iframe {
    width: 48em;
    height: 27em;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.youtube,
.vimeo,
.drlyd {
    white-space: pre-line;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em) {
}

@media (max-width: 20em) {
    iframe {
        width: 10.125em;
        height: 5.7em;
    }
}

@media (max-width: 24.4em) {
    iframe {
        width: 20em;
        height: 11.26em;
    }
}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 25.875em) and (max-device-width: 46em) and (orientation: portrait) {
    iframe {
        width: 22.275em;
        height: 12.54em;
    }
}

/* -----------------------
Hide cruft
------------------------*/
a[href*="/~ff/"],
img[height="1"],
img[src*="/fblike20"],
img[src*="/pinterest20"],
img[src*="/email20"],
img[src*="/rss20"],
img[src*="/comments20"],
img[src*="/commentsrss20"],
img[src*="/x.png"],
img[src*="/~r/"] {
    display: none;
}

/* -----------------------
Dark mode
------------------------*/
@media (prefers-color-scheme: dark) {
    .content {
        background-color: #232b32;
    }

    img {
        filter: brightness(0.8) contrast(1.2);
    }
}
